body {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    background-color: rgba(0, 125, 200, 0.15);
}

header {
    text-align: center;
    background-color: #4682B4;
    color: #FFFFFF;
    padding: 2px 2px 2px 2px;
}